				<div class="pin-image">
					<img src="cover.jpg" />
				</div>
				<div class="pin-text">

					<div class="pin-head">
						<span class="pin-author">
							ACHARIYA BOUREY
						</span>
						<span class="pin-location">
							CAMBODIA
						</span>
					</div>
					<div style="clear: both;"></div>
					<div class="pin-title">
						Mot giong nhen
					</div>
					<div class="pin-description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.
					</div>
				</div>