				<div class="pin-image">
					<a href="/<?php echo $section ?>/<?php echo $pin['url'] ?>"><img src="images/<?php echo $pin['image'] ?>" /></a>
				</div>
				<div class="pin-text">

					<div class="pin-head">
						<?php if(isset($pin['author']) && $pin['author']) { ?>
						<span class="pin-author">
							<?php echo $pin['author'] ?>
						</span>
						<?php } ?>

						<span class="pin-location">
							<?php echo $pin['location'] ?>
						</span>
					</div>
					<div style="clear: both;"></div>
					
					<?php if(isset($pin['title']) && $pin['title']) { ?>
					<div class="pin-title">
						<a href="/<?php echo $section ?>/<?php echo $pin['url'] ?>"><?php echo $pin['title'] ?></a>
					</div>
					<?php } ?>
					
					<div class="pin-description">
						<?php echo $pin['description'] ?>
					</div>
				</div>