
	<div class="container-fluid">
	
		<div style="display: " class="row dish">
			<div class="col-md-3 dish-title-container">
				<div class="dish-title">ESCAMOLES</div>
				<div class="dish-subtitle">Mexico city, Mexico</div>
			</div>
			<div class="col-md-6">
			<img src="grasshoppers.jpg" width="100%" />
			</div>
			<div class="col-md-3 portrait-container">
				<div class="portrait">
				<img src="portrait-juan.jpg" />
				</div>

				<div class="portrait-name">
				NAME<br/>
				Juan Valdez
				</div>

				<div class="portrait-age">
				AGE<br/>
				26
				</div>

				<div class="portrait-age">
				LIKES<br/>
				Surfing, Food, Dancing
				</div>
			</div>
		</div>

		<div style="display: " class="row dish-qa">
			<div class="col-md-3">
			</div>
			
			<div class="col-md-3">
				<strong>Q:</strong> <i>What do you consider food?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.<br/><br/>

				<strong>Q:</strong> <i>Can you tell us about a local delicacy?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.<br/><br/>

			</div>
			
			<div class="col-md-3">
				<strong>Q:</strong> <i>How is this dish being prepared?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.<br/><br/>

				<strong>Q:</strong> <i>At what moment do you eat this dish?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>

				<strong>Q:</strong> <i>What is the most important value of the Mexican cuisine?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
			</div>
			
			<div class="col-md-3">
			</div>
		</div>

		<div style="display: " class="row video">
			<div class="col-md-3 video-title-container">
				<div class="video-title">Wasmot popcorn</div>
				<div class="video-subtitle">Ron Blaauw, Ron Gastrobar</div>
			</div>
			<div class="col-md-6">
				<iframe src="//player.vimeo.com/video/91328970?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="col-md-3">
				
			</div>
		</div>



		<div class="row">
			<div class="col-md-12 page-logo">
				<img class="logo-desktop" width="30%" src="logo.png">
			</div>
			<div class="col-md-12 page-title page-subject">
				Straatdiners
			</div>
		</div>



