		<?php
		$pageTitle = 'Feiten';
		include('views/components/logo.html');
		?>

			<div class="row">
			<div class="col-md-3">

Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>
			</div>
			<div class="col-md-3">

				<div class="intro">
					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

				</div>

			</div>
			<div class="col-md-3">

				<div class="intro">
					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>
				</div>


			</div>
			<div class="col-md-3">
			Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

			Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

			Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>

			Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.<br/><br/>
			
		</div>
	</div>