<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">

	<title><?php echo $pageTitle ?></title>
	<script type="text/javascript" src="//use.typekit.net/ele5zyo.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="clamp.js"></script>
	<script src="code.js"></script>
</head>
<body>
	<div class="navbar navbar-fixed-top" role="navigation">
		<div class="nav-container container">
			<a href="/kooksessies">Kooksessies</a>
			<a href="/voedselverhalen">Voedselverhalen</a>
			<a href="/straatdiners">Straatdiners</a>
			<a href="/evenementen">Evenementen</a>
			<a href="/feiten">Feiten</a>
		</div>
	</div>


	<div style="display: none;" class="navbar-fixed-top contactbar">
		<a href="#">NL/EN</a>
		<a class="small" href="#">info@deinsectenbar.nl</a>
		<a class="small" href="#">Twitter</a>
		<a class="subtitle" href="#">@insectenbar</a>
		<a class="small" href="#">Facebook</a>
		<a class="subtitle" href="#">De insectenbar</a>
	</div>

	<div class="container-fluid">
		<?php echo $content ?>
	</div>

</body>
</html>
