		<?php
		$pageTitle = 'Onze missie';
		include('views/components/logo.html');
		?>

		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">

				<div class="intro">
					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii. Tu quidem reddes; Quod ea non occurrentia fingunt, vincunt Aristonem; Tum Quintus: Est plane, Piso, ut dicis, inquit. Sed vos squalidius, illorum vides quam niteat oratio. Quae est igitur causa istarum angustiarum? Dici enim nihil potest verius. Nam, ut paulo ante docui, augendae voluptatis finis est doloris omnis amotio.
				</div>

			</div>
			<div class="col-md-3">

				<div class="intro">
					Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii. Tu quidem reddes; Quod ea non occurrentia fingunt, vincunt Aristonem; Tum Quintus: Est plane, Piso, ut dicis, inquit. Sed vos squalidius, illorum vides quam niteat oratio. Quae est igitur causa istarum angustiarum? Dici enim nihil potest verius. Nam, ut paulo ante docui, augendae voluptatis finis est doloris omnis amotio.
				</div>

			</div>
			<div class="col-md-3">
		
		</div>