		<div style="display: " class="row dish">
			<div class="col-md-3 dish-title-container">
				<div class="dish-title"><?php echo $page['title']; ?></div>
				<div class="dish-subtitle"><?php echo $page['location']; ?></div>
			</div>
			<div class="col-md-6">
			<img src="/images/<?php echo $page['content-image']; ?>" width="100%" />
			</div>
			<div class="col-md-3 portrait-container">
				<div class="portrait">
				<img src="/images/<?php echo $page['author-image']; ?>" />
				</div>

				<div class="portrait-name">
				NAME<br/>
				<?php echo $page['name']; ?>
				</div>

				<div class="portrait-age">
				AGE<br/>
				<?php echo $page['age']; ?>
				</div>

				<div class="portrait-age">
				LIKES<br/>
				<?php echo $page['likes']; ?>
				</div>
			</div>
		</div>

		<div style="display: " class="row dish-qa">
			<div class="col-md-3">
			</div>

			<div class="col-md-3">
				<strong>Q:</strong> <i>What do you consider food?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.<br/><br/>

				<strong>Q:</strong> <i>Can you tell us about a local delicacy?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.<br/><br/>

			</div>

			<div class="col-md-3">
				<strong>Q:</strong> <i>How is this dish being prepared?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem etiam Epicurum, in physicis quidem, Democriteum puto.<br/><br/>

				<strong>Q:</strong> <i>At what moment do you eat this dish?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>

				<strong>Q:</strong> <i>What is the most important value of the Mexican cuisine?</i><br/>
				<strong>A:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
			</div>

			<div class="col-md-3">
			</div>
		</div>
